body, html {
    border: 0;
    margin: 0;
    font-family: Calibir, Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    background-color: #23272A;
    color: #fff;
}

/************************** HEADER **********************************/

header {
    height: 8vh;
    width: 100vw;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 20% 60% 20%;
}

a {
    color: #fff;
    transition: color 0.5s;
}

a:hover {
    color: rgb(156, 156, 156);
    text-decoration: none;
}

#header-icon-wrapper {
    height: 5vh;
    display: inline-block;
}

#header-icon-wrapper > img {
    height: 100%;
    width: auto;
    clip-path: circle(50% at 50% 50%);
}

#header-text-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    width: 100vw;
    height: 8vh;
}

#header-text-wrapper > h1 {
    margin: 0;
}

/*************************** MAIN *********************/

main {
    width: 100vw;
    position: absolute;   
    top: 20vh;
    margin-bottom: 20vh;
}

#banner-img-wrapper {
    width: 100vw;
}

#banner-img-wrapper {
    filter: blur(0.3vh);
}

#content {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    height: 50vh;
}

/******************************** GRIDS ***************************/

.grid-40-60 {
    display: grid;
    grid-template-columns: 40% 60%;
}

.grid-60-40 {
    display: grid;
    grid-template-columns: 60% 40%;
}

/*********************************** CONTENT ***************************/

.content-box {
    background-color: #2c2f33c4;
    margin-bottom: 5vh;
    text-align: center;
    padding: 2vh 0;
}

.img-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-box > img {
    width: 80%;
    height: auto;
}

.text-box {
    display: grid;
    align-items: center;
    justify-content: center;
}

.text-box > div {
    text-align: center;
    width: 90%;
}

/******************************** CUSTOM ******************************/

#personal-img {
    clip-path: circle(50% at 50% 50%);
}